<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Abacusno:</b>
  <%= @client.abacusno %>
</p>

<p>
  <b>Businessname:</b>
  <%= @client.businessname %>
</p>

<p>
  <b>Unit:</b>
  <%= @client.unit %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>Province:</b>
  <%= @client.province %>
</p>

<p>
  <b>Country:</b>
  <%= @client.country %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @client.postalcode %>
</p>

<p>
  <b>Firstname:</b>
  <%= @client.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @client.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @client.fax %>
</p>

<p>
  <b>Clientcategory:</b>
  <%= @client.clientcategory %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
