
<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img src="/assets/main_logo.gif"  alt="David's Business Supplies"  />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

        <%= render "home/menu" %>

	</div>
	<!-- Top Part Ends Here -->

	<!-- Content Body Starts Here -->
	<div id="inner_content_body">

		<!-- Left Content Body Starts Here -->
		<div class="left_content_body">

			<!-- Heading -->
			<p class="page_title">
			CONTACT US
			</p>
			<!-- Heading -->

			<p style="margin-top:15px;font-size:larger;color:white;">For information or pricing on your supplies, please give us a call, stop in, or contact us using the form below.</p>
			<p style="margin-top:15px;font-size:larger;color:white;">We are centrally located close to Grant MacEwan's downtown campus, and have parking available.</p>
			
			
			<p style="margin-top:15px;">
				<iframe width="650" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;q=David's+Business+Supplies&amp;fb=1&amp;gl=ca&amp;hq=David's+Business+Supplies&amp;hnear=0x53a0224580deff23:0x411fa00c4af6155d,Edmonton,+AB&amp;cid=0,0,10533730739137382873&amp;ll=53.549137,-113.508227&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br />
				<small><a href="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;q=David's+Business+Supplies&amp;fb=1&amp;gl=ca&amp;hq=David's+Business+Supplies&amp;hnear=0x53a0224580deff23:0x411fa00c4af6155d,Edmonton,+AB&amp;cid=0,0,10533730739137382873&amp;ll=53.549137,-113.508227&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</p>

			<p style="margin-top:15px;" class="text_style2">Contact Form</p>
				Fill out your name, e-mail address, and your inquiry so that we can respond quickly. You may include your phone number in the message if you would like to speak to us directly.
			<br /><br />

			<!-- Form Starts Here -->
			<div class="contact">
				<%= form_for @message, :url => contact_path do |form| %>
					<fieldset class="fields">
					<div class="field">
					  <%= form.label :name %>
					  <%= form.text_field :name %>
					</div>

					<div class="field">
					  <%= form.label :email %>
					  <%= form.text_field :email %>
					</div>
					<div class="field">
					  <%= form.label :subject %>
					  <%= form.text_field :subject %>
					</div>

					<div class="field">
					  <%= form.label :body, "Inquiry" %>
					  <%= form.text_area :body %>
					</div>
					</fieldset>

					<fieldset class="actions">
					<%= form.submit "Send" %>
					</fieldset>
				<% end %>
			</div>
			<!-- Form Ends Here -->


		</div>
		<!-- Left Content Body Ends Here -->



		<!-- Right Content Body Starts Here -->
		<div class="right_content_body">

			<!-- Contact Starts here -->
				<!-- Heading -->
					<p class="page_sub_title">
					HOW TO FIND US
					</p>
				<!-- Heading -->

				<ul class="more_links">
					<li>10561 - 109 Street</li>
					<li>Edmonton, Alberta</li>
					<li>Canada  T5H-3B1</li>
					<li>Telephone: <b>(780) 423 - 1326</b></li>
					<li>Toll Free Alberta:<br /> &nbsp;&nbsp;<b>(800) 232 - 7293</b></li>
				</ul>

				<br />

			<!-- Contact Ends Here -->

		</div>
		<!-- Right Content Body Ends here -->

		<!-- Clear -->
			<div class="clear">
			</div>
		<!-- Clear -->

	</div>
	<!-- Content Body Ends Here -->

	<%= render "home/foot" %>

</div>
<!-- Main Body Ends Here -->
