<!DOCTYPE html>
<html>
<head>
  <title>David's Business Supplies Ltd.</title>
  <%= stylesheet_link_tag    "application", :media =>  "all" %>
  <%= stylesheet_link_tag    "style", :media =>  "all" %>
  
  <%= javascript_include_tag "application" %>
 <meta name="description" content="Your supply and service solution for all of your business needs." />
 <meta name="keywords" content="McKill, Davids, David, Business, Supplies, Supply, Edmonton, Alberta, Canada, St. Albert, Sherwood, Park, POS, debit, interac, visa, slip, atm, hotel, toner, ink, cartridge, roll, paper, guest, check, cheque, label, thermal, bond, carbon, wireless, form, printer, fax, service, restaurant, repair, inkjet, HP, Lexmark, Canon, IBM, Dell, Brother, NCR, Konica, Minolta, moneris, paymentech, chase, Fujitsu, Samsung, tractor, feed, 2-ply, 2-part, continuous, stock, tab, custom, downtown, Oilers, porn, Staples, Office, Depot, stationary, adding, machine" />
 <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
        
    <script type="text/javascript">
      var flashvars = {};
      flashvars.cssSource = "assets/piecemaker.css";
      flashvars.xmlSource = "assets/piecemaker.xml";
		
      var params = {};
      params.play = "true";
      params.menu = "false";
      params.scale = "showall";
      params.wmode = "transparent";
      params.allowfullscreen = "true";
      params.allowscriptaccess = "always";
      params.allownetworking = "all";
	  
      swfobject.embedSWF('assets/piecemaker.swf', 'piecemaker', '920', '430', '10', null, flashvars, params, null);
	  	  
      swfobject.embedSWF('assets/main_logo.swf', 'main_logo2', '900', '137', '0', null, flashvars, params, null);
	  
    
    </script>

  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
